
  <footer >
   <div class="footer_wrapper">
      <p > &copy; Reflection Diary 2021</p>
      <div class="nav_wrapper_child">
        <div id="page-top" ><a href="#top"></a></div>
      </div>
   </div>
  </footer>

