        <div id="home" class="big-bg">
            <header class="page-header wrapper">

                <nav>
                    <ul class="main-nav">
                        <li><a href="news.html">新規登録</a></li>
                        <li><a href="menu.html">ログイン</a></li>
                    </ul>
                </nav>
            </header>

            <div class="home-content wrapper">
                <h2 class="page-title">Reflection Diary </h2>
                <p>日常の気づきから、人生をアップデート</p>
                <a class="button" href="menu.html">日記を書く</a>
            </div>
        </div>
